<table width="100%">
	<tr>
		<td><strong>E-Mail:</strong></td>
		<td><%=h @user.email %></td>
	</tr>
	<tr>
		<td><strong>Active:</strong></td>
		<td><%= if @user.active then 'Yes' else 'No' end %></td>
	</tr>
	<tr>
		<td><strong>Admin:</strong></td>
		<td><%= if @user.admin then 'Yes' else 'No' end %></td>
	</tr>
</table><br />

<%= link_to 'Edit user', edit_backend_user_path(@user) %>